/* PHASE 2: Navigation */

.header-logo {
    float: left; 
    font-weight: 700;
    border-right: 1px solid #eee;
}

.header-logo:hover {
    background: black;
}

.header-list {
    float: right;
}

.header-list > li {
    float: left;
    border-left: 1px solid #eee;
}

.header-list > li:hover {
    background: black;
}