<h2> Edit Band </h2>

 <form action="<%= band_url %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="band_name">Band Name</label>
    <input type="text" name="band[name]" id="band" value="<%= @band.name %>">
    <input type="submit">
</form>